<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fsq-homepage</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body class="container">
    <br>
    <h1>欢迎进入工资管理系统 </h1>
    <h3>请选择您需要使用的功能</h3>
    <br>

    <a href="/salary" role="button"><input class="btn btn-info" type="button" value="薪酬发放"></a>
    <a href="/employee" role="button"><input class="btn btn-info" type="button" value="管理员工信息"></a>
    <a href="/deduction" role="button"><input class="btn btn-info" type="button" value="管理个税专项扣除信息"></a>
    <a href="/rule" role="button"><input class="btn btn-info" type="button" value="查看工资计算规则"></a>
    <a href="/try" role="button"><input class="btn btn-info" type="button" value="工资试算"></a>
</body>
</html>